<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Logo -->
  <link rel="icon" href="{{ url_for('static',filename = 'img/logo.png') }}">
  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <!-- custom css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'css/layout.css') }}">
  {% block custom_css %}{% endblock custom_css %}
  <!-- icon -->
  <script
    type="text/javascript"> (function () { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Caveat:700&display=swap" rel="stylesheet">
  <!-- Loader -->
  <script>
    function hideloader(){
      document.getElementById("loader").style.display = "none";
    }
  </script>
  <title>{{ title }}</title>
</head>

<body onload="hideloader()">
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="{{ url_for('home') }}"><i class="fab fa-python"></i> &nbsp; PyBlog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
            {% if current_user.is_authenticated %}
            {% block header %}{% endblock header %}
            {% else %}
            {% endif %}
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if current_user.is_authenticated %}
            <a class="nav-item nav-link" href="{{ url_for('new_post') }}">New Post</a>
            <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout &nbsp;<i
                class="fas fa-sign-out-alt"></i></a>
            {% else %}
            <a href="" class="nav-item nav-link" data-toggle="modal" data-target="#orangeModalSubscription">Login</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>
  <!-- Login Modal -->
  <div class="modal fade" id="orangeModalSubscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header text-center">
          <h4 class="modal-title white-text w-100 font-weight-bold py-2">Login</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>

        <!--Body-->
        <div class="modal-body">
          <div class="md-form mb-5">
            <a href="{{ url_for('twitter_login') }}" class="btn btn-block btn-lg btn-social btn-twitter twitter">
              <i class="fab fa-twitter fa-fw"></i> Login with Twitter
            </a>
            <a href="{{ url_for('google_login') }}" class="btn btn-block btn-lg btn-social btn-google google">
              <i class='fab fa-google fa-fw'></i> Login with Google
            </a>
            <a href="{{ url_for('github_login') }}" class="btn btn-block btn-lg btn-social btn-github github">
              <i class="fab fa-github fa-fw"></i> Login with Github
            </a>
          </div>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>

  <div class="container" id="main">
    <div class="col-md-8">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show">
        <h5>{{ message }}</h5>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>

    <span class="loader" id="loader"><span class="loader-inner"></span></span>
    {% block content %}{% endblock %}

  </div> <br><br><br><br>
  <div class="footer-basic">
    <footer>
      <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i
            class="icon ion-social-youtube"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a
          href="#"><i class="icon ion-social-facebook"></i></a></div>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Home</a></li>
        <li class="list-inline-item"><a href="#">Services</a></li>
        <li class="list-inline-item"><a href="#">About</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
      </ul>
      <p class="copyright">Company Name © 2019</p>
    </footer>
  </div>
</body>
{% block js %}{% endblock js %}

</html>