{% extends "html/layout.html" %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'css/home.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'css/user_posts.css') }}">
{% endblock custom_css %}


{% block content %}
<div class="container-posts">
<h1 class="mb-3 heading"><span class="underline">Posts </span>by <span class="underline">{{ user.username }}</span> ({{ posts.total }})</h1>
<br>
{% for post in posts.items %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h5 style="display: inline;"><a class="mr-2"
                    href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
            </h5>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
        <h2>
            <p class="article-title">{{ post.title }}</p>
        </h2>
        <p class="article-content">{{ post.content }}</p>
        {% if post.author.id == current_user.id %}
        <div class="del-but">
            <button type="button" class="trash" data-toggle="modal" data-target="#confirm-delete-{{ post.id }}">
                <i class="fas fa-trash-alt"></i>
            </button>
        </div>
        {% else %}
        {% endif %}
    </div>
    <!-- Modal -->
    <div class="modal fade" id="confirm-delete-{{ post.id }}" tabindex="-1" role="dialog"
        aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal -->
</article><br>
{% endfor %}
</div>
<div class="pagination">
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
    {% if posts.page == page_num %}
    <a class="btn btn-info mb-4 mr-2"
        href="{{ url_for('user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
    {% else %}
    <a class="btn btn-outline-info mb-4 mr-2"
        href="{{ url_for('user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% else %}
    <b class="triple_dot">...</b>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}