
.content-section {
    background: #EFEFF0;
    padding: 10px 20px;
    border: 2px solid #48708F;
    border-radius: 5px;
    margin-bottom: 20px;
    -webkit-box-shadow: 10px 10px 9px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 9px -4px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 9px -4px rgba(0,0,0,0.75);
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
}
.article-title {
  color: #3C6382;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  /* font-weight: 600; */
  font-family: 'Source Sans Pro', sans-serif;
}

a.article-title:hover {
  color: #3C6382;
  opacity: 0.9;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  color: #646e77;
  width: 550px;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
}
.article-metadata {
  padding-bottom: 3px;
  margin-bottom: 4px;
  border-bottom: 2px solid #436A8A;
}
.article-metadata a{
  color: #47525B;
}
.media-body{
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
}

.article-metadata a:hover {
  color: black;
  text-decoration: none;
}

.trash{
  border: none;
  background: none;
  position: relative;
  padding: 0;
  float: right;
}
.trash:focus{
  border: none;
  background: none;
  padding: 0;
  outline: none;
}
.fa-trash-alt{
  color: #3C6382;
}
.form-control:focus{
  border-color: rgb(84, 121, 151) !important;
  box-shadow: 0 0 0 0.1rem rgba(84, 121, 151, 0.432)!important;
}


@media  only screen and (max-width: 990px){
  .widget{
      display:none;
  }
  .article-content {
    white-space: pre-line;
    color: #646e77;
    width:350px;
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
  }
}


@media  only screen and (max-width: 375px) {
  .widget{
    display:none; 
  }
  .article-title {
    width: 240px;
  }
  /* .content-section {
    margin-left: 50px;
  } */
  .article-content {
    white-space: pre-line;
    color: #646e77;
    width:240px !important;
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
  }
}

/* .calender */

div.widget {
  height: auto;
  overflow: auto;
  /* display: inline-block; */
  position: relative;
  margin: auto auto;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 0 2px 10px #AAA;
}

div.widget div.head {
  display: block;
  position: relative;
  padding: 10px;
  background-color: #3c6382;
  /* background-image: linear-gradient(to right top, #1f1e1c, #242220, #292725, #2e2b2a, #33302f); */
  background: -webkit-linear-gradient(#506a80, #3c6382);
  background: -moz-linear-gradient(#506a80, #3c6382);
  background: -o-linear-gradient(#506a80, #3c6382);
  background: linear-gradient(#6d98b9, #3c6382);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  text-align: center;
}

div.widget div.head p,
div.widget div.head h1 {
  display: block;
  color: #FFF;
  cursor: default;
}

div.widget div.head p {
  font-size: 25px;
}

div.widget div.head h1 {
  font-size: 30px;
}

div.widget div.head p.day {
  margin-top: 5px;
}

div.widget div.head p.month {
  margin-bottom: 10px;
}

div.widget div.head i.trg {
  height: 12px;
  position: absolute;
  margin: auto auto;
  top: 0;
  bottom: 0;
  color: #FFF;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}

div.widget div.head i.trg.trg-prev {
  left: 10px;
}

div.widget div.head i.trg.trg-prev:hover {
  left: 9px;
}
div.widget div.head i.trg.trg-next {
  right: 10px;
}
div.widget div.head i.trg.trg-next:hover {
  right: 9px;
}
div.widget div.body {
  display: block;
  position: relative;
  background-color: #FFF;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  text-align: center;
}
div.widget div.body table {
  margin: auto auto;
  border-collapse: collapse;
  border-spacing: 0;
  cursor: pointer;
}
div.widget div.body td {
  padding: 10px;
  -webkit-transition: background-color ease-in-out 0.15s;
  -moz-transition: background-color ease-in-out 0.15s;
  -o-transition: background-color ease-in-out 0.15s;
  transition: background-color ease-in-out 0.15s;
}
div.widget div.body td:hover {
  background-color: #F0F0F0;
  cursor: pointer;
}
div.widget div.body td.prev {
  background-color: #FFF;
  color: #AAA;
  cursor: default;
}
div.widget div.body tr.head td {
  background-color: #FFF;
  cursor: default;
}
div.widget div.body tr.head td > * {
  color: #3498DB;
}
.widget{
  margin-top : 30px !important;
  margin-left: 30px !important;
  height: 580px !important;
  overflow: hidden !important;
  -webkit-box-shadow: 10px 10px 9px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 9px -4px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 9px -4px rgba(0,0,0,0.75);
}
.body{
  overflow: hidden;
  padding-bottom: 57px;
}
.triple_dot{
  margin-left: 0.2em;
  margin-right: 0.2em;
  letter-spacing: 0.3em;
}
.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
}


